.popup-screen_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  /* background-color: #ff000020; */
  width: 100vw;
  height: 100vh;
  z-index: 9999998;
}

.popup-screen_overlay .popup {
  width: 120px;
  min-height: 55px;
  box-shadow: 10px 10px 23px 8px #ebebeb;
  border-radius: 30px;
  background-color: white;
  /* bottom doesn't need padding because buttons push it down */
  padding: 10px 10px 0px 10px;
  z-index: 9999999;
}

.popup-screen_overlay .popup .close_btn {
  background-color: #ff000020;
  color: #ff0000;
}

.popup-screen_overlay .popup button {
  display: block;
  margin-right: 10px;
  margin-bottom: 10px;
}
