.darken_screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}

.darken_screen .modal {
  width: 60%;
  height: 500px;
  background-color: white;
  z-index: 99;
  /* padding: 20px 20px 20px 20px; */
  /* padding: 20px 0; */
  flex-direction: column;
  border-radius: 5px;
  display: flex;
  min-width: 100px;
  overflow: hidden;
  position: relative;
  padding-bottom: 10px;
}

.modal .top_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 60%;
  background-color: white;
  z-index: 99;
  /* height: 70px; */
  /* border: 1px solid black; */
  padding: 10px 20px;
  /* background-color: #008080;
  color: white; */
  /* top: 0;
  left: 0; */
}

.modal .content {
  flex: 1;
  margin-top: 70px;
  padding: 0 20px;
  overflow: auto;
}

.modal button {
  align-self: center;
}

.modal input {
  transition-duration: 500ms;
  border: none;
  outline: none;
  padding: 5px 0;
  border-bottom: 1px solid black;
  width: 400px;
}

.modal input:focus {
  transition-duration: 500ms;
  /* padding: 5px 20px; */
  border-bottom-color: #008080;
}
