.homescreen {
  padding-top: 100px;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  /* overflow-x: auto; */
}

.homescreen .origin {
  transition-duration: 500ms;
  margin: 0 0 20px 20px;
  border: 3px solid #00808020;
  width: fit-content;
  border-radius: 30px;
}

.homescreen .divider {
  margin: 20px;
}

.homescreen .searched-document {
  display: flex;
  height: 70px;
  width: 100%;
  margin-top: 10px;
  box-shadow: 0 5px 5px 0 rgba(154, 160, 185, 0.05),
    0 5px 30px 0 rgba(166, 173, 201, 0.22);
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  align-items: center;
  padding: 0 20px;
  position: relative;
}

/* .homescreen .searched-document .searched-document_description {
} */

.homescreen .searched-document .searched-document_name {
  color: #008080;
}

.homescreen .searched-document .searched-document_origin {
  color: #00808080;
}

.homescreen .searched-document .details {
  background-color: #00808020;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 200px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  align-items: center;
  padding: 20px;
}

.homescreen .searched-document .details .text {
  color: #008080;
}
