.workspace {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 50px 1fr 50px / 350px 1fr;
}

/* Top left of workspace */
.workspace .topLeft {
  grid-area: 1 / 1 / 1 / 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

/* .workspace .topLeft .goHome {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 5px;
  cursor: pointer;
  border: 1px solid teal;
} */

.workspace .topLeft .documentName {
  transition-duration: 500ms;
  overflow: hidden;
  color: #171717;
  border: 3px solid #00808020;
  border-radius: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 35px;
  margin-left: 10px;
  color: #008080;
  /* cursor: pointer; */
  cursor: text;
  /* font-size: 1.5rem;
  font-weight: 400; */
  /* position: absolute;
  left: 30px; */
}

.workspace .topLeft .documentName:hover {
  transition-duration: 500ms;
  border: 3px solid #00808040;
}

/* The bottom right side of the workspace */
.workspace .previewTextEditor {
  grid-area: 1 / 2 / span 3 / 2;
  position: relative;
  overflow: auto;
  z-index: 7;
}

/* The whole document preview */
.workspace .previewTextEditor {
  padding: 50px 50px;
  border-left: 1px solid #00808020;
}

/* Messing with React Quill for documentPreview */
.workspace .previewTextEditor .ql-toolbar {
  display: none;
}

.workspace .previewTextEditor .ql-container.ql-snow {
  border: none !important;
}

.workspace .previewTextEditor .ql-editor {
  padding: none !important;
}

/* The bottom left side of the workspace with the tabs and lists */
.workspace .menu {
  /* margin: 10px; */
  padding: 10px;
  grid-area: 2 / 1 / 2 / 1;
  overflow: auto;
  border-top: 1px solid #00808020;
}
/* Configure the menu */
.workspace .menuConfigure {
  grid-area: 3 / 1 / 3 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Messing with React tabs */
.react-tabs__tab-list {
  z-index: 7;
  border: none !important;
  position: fixed;
  background-color: white;
  grid-area: 2 / 1 / 2 / 1;
  width: 100%;
}

.react-tabs__tab {
  height: 35px;
}

.react-tabs__tab--selected {
  border: none !important;
  border: 1px solid #008080 !important;
  border-radius: 30px !important;
  color: #008080;
}

/* The block text editor! */
.workspace .textEditor {
  grid-area: 2 / 2 / 2 / 3;
  background-color: white;
}

.workspace .expandTextEditor {
  grid-area: 2 / 1 / 2 / span 2;
  background-color: white;
}

/* The bottom part of the workarea to control the block*/
.workspace .controller {
  grid-area: 3 / 2 / 3 / 2;
  background-color: white;
}

.workspace .expandController {
  grid-area: 3 / 1 / 3 / span 2;
  background-color: white;
}
